[submodule "packages/protocols/lib/v2-core"]
	path = packages/protocols/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "packages/protocols/lib/v2-periphery"]
	path = packages/protocols/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "packages/protocols/lib/solidity-lib"]
	path = packages/protocols/lib/solidity-lib
	url = https://github.com/Uniswap/solidity-lib
